@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Spectral:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
body{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainModal{
    position: fixed;
    top: 220px;
    left: 450px;
    width: 500px;
    height: 200px;
    background-color: black;
    border-radius: 3px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.btn{
    width: 120px;
    height: 30px;
    background-color: blanchedalmond;
    border:none;
    cursor: pointer;
}
.btn :hover{
    border: 1px solid;
    background-color: transparent;
    color: white;
}
.mainModal button{
    margin-top: 50px;

}

.hidedModal{
    position: fixed;
    top: 220px;
    left: 450px;
    width: 500px;
    height: 200px;
    background-color: black;
    border-radius: 3px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.hidedModal p{
    margin-top: 50px;
}

#btnClose{
    background-color: transparent;
    color: whitesmoke;
    border:none;
    font-size: 30px;
    cursor: pointer;
    margin-left: 470px;
}
.hided{
    visibility: hidden;
    z-index: -10;
}
.opened{
    z-index: 10;
}