@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Spectral:wght@200&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    margin:0;
    padding: 0;

}


body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.maindiv{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 110px;
}


h1{
    font-size: 60px;
}

#myNumber{
    font-size: 48px;

}

.buttonSection button{
    padding: 5px;
}
