body {
	background-color: #f1f1f1;
	font-family: Arial, sans-serif;
    background-image: url('./img/735DC7AE-D2F8-4FBD-9AA9-2543E11F6632_1_105_c.jpeg');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
    
}
h1 {
	font-size: 32px;
	margin-top: 50px;
	text-align: center;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
}
.weather-data {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
	width: 300px;
	text-align: center;
}
p {
	margin: 5px;
	font-size: 18px;
	font-weight: bold;
	color: #333;
}
#resim{
    width: max-content;
    height: auto;
    
}